@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1, .jazzBold{
  font-family: 'monument_bold';
}
h2,h3,h4,h5,h6{
  font-family: 'monument_regular'
}

.jazzBoldItalic{
  font-family: 'monument_bold_italic';
}
.jazzExtended{
  font-family: 'wt_jazzbold_extended';
}
.jazzCondensed{
  font-family: 'wt_jazzbold_semi_condensed';
}
.jazzMonumentRegular{
  font-family: 'monument_regular_italic';
}
.jazzMonumentMono{
  font-family: 'monument_regular_mono';
}

@font-face {
  font-family: 'wt_jazzbold_extended';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/1_jazz-extended-webfont.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/1_jazz-extended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wt_jazzbold_semi_condensed';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/1_jazz-semi_condensed-webfont.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/1_jazz-semi_condensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monument_bold';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-Bold.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monument_bold_italic';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-BoldItalic.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monument_regular';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monument_regular_italic';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-RegularItalic.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGrotesk-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monument_regular_mono';
  src: url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGroteskMono-Regular.woff2') format('woff2'),
      url('https://www.nba.com/resources/static/team/v2/jazz/ABCMonumentGroteskMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.dot{
  background-color: yellow !important;
}
